# Some sensible files to ignore
*~

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
\#*

# Files that might appear on external disks
.Spotlight-V100
.Trashes






.bash_history
.git-completions.bash
.gitconfig
.m2
.my.cnf
.mysql_history
.ssh
.zhistory
.zsh-history
.zshrc
src
