# Some sensible files to ignore
*~

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
\#*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.Trash
.cpan


.zcompdump*
.vscode/extensions/**
.emacs.d/elpa*

.bash_history
.git-completions.bash
.gitconfig
.m2
.my.cnf
.mysql_history
.ssh
.zhistory
.zsh_history
.zshrc
p
.IntelliJIdea14
.ScanSnap
.Trash
.adobe
.android
.appledoc-old
.atom
.awless
.config
.cpan
.cpanm
.cups
.dropbox
.emacs.d
.gem
.heroku
.iTerm2-color-schemes
.idea-build
.idlerc
.ivy2
.keychain
.local
.ncftp
.node-gyp
.npm
.pia_manager
.reincubate
.rvm
.sbt
.soapuios
.ssh
.subversion
.vnc
.vscode
Applications*
Downloads
Documents
Music
Movies
Pictures
Desktop
Dropbox
Google Drive
Library
IdeaProjects*
Projects
Reference Library
solarized
iCloud Drive*
The Art of Learning
node_modules
.aws-backup/
.aws/
.cargo/
.conda/
.docker/
.dvdcss/
.exercism.json
.httpie/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.multirust
.mylogin.cnf
.node_repl_history
.npmrc
.npmrc_orig
.oh-my-zsh/
.pgadmin/
.pia_manager_crash.log
.pip/
.proxyman/
.pyenv/
.pypirc
.python_history
.rustup/
.shell.pre-oh-my-zsh
.ssh-agent-pid-Talma
.tooling/
.viminfo
.vscode-remote-workspace/
.yarnrc
.yarnrc_orig
.zsh-history
Dan Smith resume 2017.pdf
Keelan-class/
My Music/
Public/
Smith Family Finances.bank7/
Spotify/
The Art of Learning.tar
Zoom.popclipext/
anki-backup.tar
bin/diff-so-fancy
bin/shadow
chapter_2/
dan.tar
define.py
desktop-files.tar
desktop-files/
dot-files.tar
exercism/
flatten/
iterm-preferences/
members
new Paul Kalkbrenner - live at Lowlands 2019 2.m4a
ssh/
tmp/
x
i/
k/
